header {
    height: auto !important;
}


#gallery .swiper-slide {
    height: 400px;
}

#gallery .swiper-slide.slide1 {
    background: url(muqumiyImgs/1.jpg) no-repeat center center;
    background-size: cover;
}
#gallery .swiper-slide.slide2 {
    background: url(muqumiyImgs/2.jpg) no-repeat center center;
    background-size: cover;
}
#gallery .swiper-slide.slide3 {
    background: url(muqumiyImgs/3.jpg) no-repeat center center;
    background-size: cover;
}
#gallery .swiper-slide.slide4 {
    background: url(muqumiyImgs/4.jpg) no-repeat center center;
    background-size: cover;
}



@media only screen and (max-width : 992px) {
    
}

@media only screen and (max-width: 768px) {
    
}
@media only screen and (max-width: 480px) {
    
}